.history dl{
    display:flex; justify-content:center;
    width:100%;
}
.history dl:not(:last-of-type){ margin-bottom:45px; }
.history dl dt{
    font-size:40px;
    font-weight:500;
    line-height:100%;
    color:#1976d3;
}
.history dl dd{
    width:50%;
    margin-left:5%;
    padding-bottom:40px;
}
.history dl:not(:last-of-type) dd{ border-bottom:1px solid #c7c7c7; }
.history ul li{
    display:flex;
    font-size:15px;
    font-weight:500;
    line-height:23px;
}
.history ul li:not(:last-of-type){ margin-bottom:17px; }
.history ul li span{
    display:inline-block;
    min-width:60px;
    width:60px;
    font-size:18px;
    font-weight:700;
}



@media screen and (max-width:1280px){
    .history dl dt{ font-size:35px; }
}

@media screen and (max-width:1024px){
    .history ul li span{ font-size:17px; }
    .history dl:not(:last-of-type) dd{ padding-bottom:35px; }
    .history dl:not(:last-of-type){ margin-bottom:40px; }
}

@media screen and (max-width:800px){
    .history dl dd{ width:auto; }
}

@media screen and (max-width:600px){
    .history dl{ flex-flow:column; }
    .history dl dt{ font-size:32px; margin-bottom:20px; }
    .history dl dd{ margin-left:0; }
    .history ul li:not(:last-of-type){ margin-bottom:15px; }
    .history dl:not(:last-of-type){ margin-bottom:35px; }
    .history dl:not(:last-of-type) dd{ padding-bottom:30px; }
    .history dl:not(:last-of-type){ margin-bottom:30px; }
}


@media screen and (max-width:480px){
    .history dl dt{ font-size:29px; margin-bottom:15px; }
    .history ul li{ font-size:14px; }
    .history ul li:not(:last-of-type){ margin-bottom:10px; }
    .history dl:not(:last-of-type) dd{ padding-bottom:25px; }
    .history dl:not(:last-of-type){ margin-bottom:25px; }
}