.card_wrap li:not(:first-of-type,:last-of-type){ margin:25px 0; }
.card_wrap li:not(:first-of-type){
    padding-top:25px;
    border-top:1px solid hsl(0, 0%, 78%);
}
.card_wrap li a{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.card_wrap li a .img_box{
    width:25%;
    padding:7% 0;
    position:relative;
    overflow:hidden;
}
.card_wrap li a .img_box img{
    position:absolute; left:50%; top:50%;
    transform:translate(-50%,-50%);
}
.card_text{ width:65%; padding:0 35px; }
.card_text h3{
    font-size:16px;
    font-weight:600;
    color:#000;
    margin-bottom:20px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
li:hover .card_text{
    text-decoration:underline;
    text-decoration-color:#000;
}
.card_text p{
    font-size:15px;
    line-height:23px;
    color:#3e3e3e;
}
li a time{
    width:10%;
    text-align:right;
    font-size:16px;
    font-weight:500;
    color:#000;
}



@media screen and (max-width:1280px){
    .card_text{ padding:0 30px; }
}

@media screen and (max-width:1024px){
    .card_text{ padding:0 25px; }
    .card_text h3{ margin-bottom:15px; }
    .card_text p{
        overflow:hidden;
        word-break:break-word;
            
        display:-webkit-box;
        -webkit-line-clamp:2;
        -webkit-box-orient:vertical
    }
}

@media screen and (max-width:800px){
    .card_wrap li a{ position:relative; }
    .card_text{ padding:0 20px; }
    li a time{ position:absolute; right:5%; top:0; }
}

@media screen and (max-width:480px){
    .card_wrap li a .img_box{ display:none; }
    .card_text{ width:75%; padding:0 15px; }
    li a time{ right:18%; }

    .card_wrap li:not(:first-of-type){ padding-top:15px; }
    .card_wrap li:not(:first-of-type,:last-of-type){ margin:15px 0; }
    .card_text h3{ margin-bottom:10px; }
}