*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
li{ list-style:none; }
a{ text-decoration:none; }
button{
    background-color:transparent;
    border:none;
    cursor:pointer;
}
img{ max-width:100%; }
input:focus{ outline:none; }
body{
    font-family:'Pretendard GOV';
    letter-spacing:-1px;
}