@font-face {
	font-family:'KoPubWorld_Dotum_L';
	font-display: swap;
	src:url('../font/KoPubWorldDotumLight.woff2') format('woff2'),
	url('../font/KoPubWorldDotumLight.woff') format('woff'),
	url('../font/KoPubWorld Dotum Light.eot');
}

@font-face {
	font-family:'KoPubWorld_Dotum_M';
	font-display: swap;
	src:url('../font/KoPubWorldDotumMedium.woff2') format('woff2'),
	url('../font/KoPubWorldDotumMedium.woff') format('woff'),
	url('../font/KoPubWorld Dotum Medium.eot');
}

@font-face {
	font-family:'KoPubWorld_Dotum_B';
	font-display: swap;
	src:url('../font/KoPubWorldDotumBold.woff2') format('woff2'),
	url('../font/KoPubWorldDotumBold.woff') format('woff'),
	url('../font/KoPubWorld Dotum Bold.eot');
}
