@font-face {
    font-family:'KoPubWorld_Dotum';
    src:url('../font/KoPubWorld\ Dotum\ Light.ttf');
    font-weight:300;
}

@font-face {
    font-family:'KoPubWorld_Dotum';
    src:url('../font/KoPubWorld\ Dotum\ Medium.ttf');
    font-weight:500;
}

@font-face {
    font-family:'KoPubWorld_Dotum';
    src:url('../font/KoPubWorld\ Dotum\ Bold.ttf');
    font-weight:700;
}