/*
공통
*/
@import url('default.css');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-gov.min.css");



.in_1400{
    max-width:1400px;
    width:93%;
    margin:0 auto;
}

/*버튼*/
.pagination_wrap ol li a,
.more_btn{
    display:inline-block;
    width:40px;
    height:40px;
    border:1px solid #c7c7c7;
    border-radius:10px;
    transition:all .3s ease-in-out;
}
.news .tab_list button.active,
.news .tab_list button:hover,
.pagination_wrap ol li a.active,
.pagination_wrap ol li a:hover{
    background-color:#1976d3;
    color:#fff;
    border-color:#1976d3;
}
.more_btn{
    text-indent:-9999px;
    background-image:url('../img/puls_ico.png');
    background-repeat:no-repeat;
    background-position:center;
    transition:all .3s ease-in-out;
}
.more_btn:hover{
    background-color:#1976d3;
    background-image:url('../img/puls_wh_ico.png');
    border-color:#1976d3;
}

/*주요공고Ggongo / 주요공지Ggongi / 공고,공지gongo*/
.board_label{
    display:inline-block;
    width:70px;
    line-height:25px;
    text-align:center;
    border-radius:8px;

    font-size:13px;
    font-weight:500;
    color:#fff;
}
.board_label_Ggongo{ background-color:#ec6d74; }
.board_label_Ggongi{ background-color:#ffba00; }
.board_label_gongo{ color:#747474; border:1px solid #747474; }



/*
hd
*/
header{
    position:relative;
    background-color: #fff;
    box-shadow:0 0px 10px rgba(0, 0, 0, 0.1);;
}
header>div{
    display:flex; flex-wrap:wrap;
    align-items:center;
    height:100px;
}
header>div h1{ display:block; height:52px; }
header>div h1 a img{ display: block; }

header>div nav{ margin:0 auto; }
header>div nav .dep01{ display:flex; }
header>div nav .dep01>li{ position:relative;}
header>div nav .dep01>li>a{
    display:block;
    width:150px;
    line-height:100px;
    text-align:center;
    font-weight:700;
    font-size:20px;
    color:#000;
}

.util a:first-of-type{
    display:inline-block;
    height:22px;
    vertical-align:middle;
}
.util a:last-of-type{
    display:inline-block;
    text-align:center;
    width:100px; line-height:40px;
    background-color:#1976d3;
    border-radius:10px;
    margin-left:25px;

    font-size:15px;
    font-weight:400;
    color:#fff;
}
.util .mobile_btn,
.mobile_menu{ display:none; }

/*하위메뉴*/
header>div nav .dep02{
    z-index:9999;
    display:none;
    width:100%;
    height:335px;
    background:#fafafa;
    border-left:1px solid #eeeeee;
    position:absolute; top:100%; left:50%;
    transform:translateX(-50%);
}
header>div nav li:last-of-type .dep02{ border-right:1px solid #eeeeee; }
header>div nav .dep02 li{ text-align:center; }
header>div nav .dep02 li:first-of-type{ padding-top:20px; }
header>div nav .dep02 li:not(:last-of-type){ margin-bottom:13px; }
header>div nav .dep02 li a {
    font-size:15px;
    font-weight:300;
    color:#4b4b4b;
    font-weight:500;
}
header>div nav .dep02 li a:hover{ color:#1976d3; }

header>div .menu_dummy{
    z-index:20;
    display:none;
    width:100%;
    height:335px;
    background:#fafafa;
    position:absolute; top:100%; left:0;
    box-shadow:0 0px 10px rgba(0,0,0,0.1);
}

/*
ft
*/
footer{ background-color:#333333; }

/*top_ft*/
.top_ft{ border-bottom:2px solid #474747; }
.top_ft>div{
    display:flex; flex-wrap:wrap;
    padding:18px 0;
}
.top_ft a{
    font-weight:700;
    font-size:15px;
    color:#7e7e7e;
    transition:all .2s ease-in-out;
}
.top_ft a:not(:first-of-type){ margin-left:25px; }
.top_ft a:hover{ color:#fff; }

/*bottom_ft*/
.bottom_ft>div{
    display:flex; flex-wrap:wrap;
    padding:30px 0;
    color:#fff;
}
.bottom_ft>div .text_wrap p{
    font-weight:300;
    font-size:14px;
    line-height:23px;
    margin-bottom:35px;
}
.bottom_ft>div .text_wrap .tel{ font-weight:300; font-size:14px; }
.bottom_ft>div .text_wrap .tel span{ margin-left:30px; }

.family_btn{
    height:40px;
    position:relative;
    margin-left:auto;
}
.family_btn button{
    display:block;
    width:205px; height:40px;
    line-height:40px;
    text-align:left;
    text-indent:20px;
    background-color:#5c5c5c;

    font-weight:700;
    font-size:14px;
    color:#fff;
}
.family_btn button::after{
    content:'';
    display:block;
    width:14px;
    height:8px;
    position:absolute; right:15px; top:40%;
    background:url('../img/arrow_ft_ico.png') no-repeat;
}
.family_btn button.active::after{ transform:rotate(180deg); }

.family_btn ul{
    display:none;
    position:absolute; left:0; bottom:40px;
    width:100%;
    padding:15px 20px;
    background-color:#3a3a3a;
}
.family_btn ul li:not(:last-of-type){ margin-bottom:10px; }
.family_btn ul li a{
    font-size:14px;
    font-weight:300;
    color:#fff;
}

/*
로그인페이지
*/
.login_wrap{
    margin:200px 0 50px;
    border:1px solid #c7c7c7;
}
.top_login{
    text-align:center;
    padding:40px 0;
    background-color:#f6f6f6;
}
.top_login h3{
    font-size:22px;
    font-weight:700;
    margin-bottom:15px;
}
.top_login h3 img{
    vertical-align:middle;
    margin-right:10px;
}
.top_login p{ font-size:15px; }

.login_wrap form{
    padding:35px 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.login_wrap form>div:first-of-type{ margin-bottom:15px; }
.login_wrap form>div label{
    display:inline-block;
    width:80px;
    font-size:18px;
    font-weight:700;
}
.login_wrap form>div input{
    width:230px;
    height:40px;
    border:1px solid #c7c7c7;
    padding:0 15px;
}

/*
검색modal
*/
.search_modal{
    display:none;
    z-index:19;
    max-width:650px;
    width:70%;
    position:fixed; left:50%; top:50%;
    transform:translate(-50%,-50%);
    background-color:#fff;
}
.top_search_modal{
    border-bottom:1px solid #c7c7c7;
    padding:20px;
    display:flex;
    justify-content:space-between;
}
.top_search_modal h3{
    font-size:22px;
    font-weight:500;
    color:#848484;
}

/*btm_search_modal*/
.btm_search_modal{ padding:40px 20px; }
.btm_search_modal strong{
    display:block;
    font-size:30px;
    font-weight:700;
    margin-bottom:10px;
    text-align:center;
}
.btm_search_modal p{
    font-size:15px;
    text-align:center;
    margin-bottom:40px;
}
.btm_search_modal form{
    padding:20px;
    background-color:#f6f6f6;
}
.btm_search_modal form input,
.btm_search_slide form input{
    border:1px solid #c7c7c7;
    width:77%;
    height:40px;
    padding:0 15px;
}
.btm_search_modal form button,
.btm_search_slide form button{
    width:20%;
    height:40px;
    background-color:#1976d3;
    border-radius:8px;
    margin-left:2%;

    font-size:15px;
    color:#fff;
}

.modal_dummy{
    display:none;
    z-index:18;
    position:fixed; left:0; top:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.search_slide{ display:none; padding:20px; }

/*
통합검색
*/
.result h3{
    background-color:#f4f4f4;
    border-bottom:1px solid #797979;
    line-height:55px;
    text-indent:20px;

    font-size:18px;
    font-weight:700;
}
.result ul li a{
    font-size:18px;
    font-weight:500;
    color:#000;
}
.result span{ color:#1976d3; }

.result_all{ margin-bottom:65px; }
.result_all ul{
    border-bottom:1px solid #c7c7c7;
    padding:20px;
}
.result_all ul li{
    display:inline-block;
    width:20%;
}
.result_all ul li:nth-last-child(-n+3){ margin-top:20px; }

.result_search{ margin-bottom:30px; }
.result_search:not(:last-of-types){ margin-bottom:30px; }
.result_search ul li{ border-bottom:1px solid #c7c7c7; }
.result_search ul li:hover .text_box{ text-decoration:underline; }
.result_search ul li a{
    display:flex;
    align-items:center;
    padding:25px 20px;
}
.result_search .text_box{ width:80%; }
.result_search .text_box h4{
    font-size:18px;
    font-weight:600;
    margin-bottom:20px;
}
.result_search .text_box p{
    font-size:15px;
    line-height:23px;
    color:#3e3e3e;
}
.result_search ul li a time{
    width:20%;
    text-align:right;
    font-size:18px;
    font-weight:500;
}

@media screen and (max-width:1400px){
    header nav{ display:none; }
    header .util{ margin-left:auto; }
    header .util .mobile_btn{
        display:inline-block;
        vertical-align:middle;
        margin-left:18px;
    }

    .mobile_menu{ display:none; }
    .mobile_menu div{
        width:100%;
        text-align:left;
    }
    .mobile_menu div button{
        position:relative;
        width:100%;
        height:50px;
        font-size:15px;
        font-weight:500;
        text-indent:3.5%;
        text-align:left;
        border-bottom:1px dotted #c7c7c7;
    }
    .mobile_menu div button::after{
        content:'';
        display:inline-block;
        width:13px;
        height:7px;
        position:absolute; right:3.5%; top:22px;
        background:url('../img/sub_img/arrow_dk_ico.png') no-repeat center;
    }
    .mobile_menu div button.active::after{ transform:rotate(180deg); }
    
    .mobile_menu ul{
        display:none;
        padding:5px 0;
        background-color:#f4f4f4;
        border-bottom:1px dotted #c7c7c7;
    }
    .mobile_menu ul li{
        text-indent:5.5%;
        padding:8px 0;
        font-size:14px;
        font-weight:400;
    }
    .mobile_menu ul li a{
        font-size:15px;
        color:#000;
        text-indent:3%;
    }

    .login_wrap{ margin:185px 0 50px; }
    .top_login h3{ font-size:20px; margin-bottom:10px; }
    .login_wrap form>div label{ font-size:17px; }
}

@media screen and (max-width:1024px){
    .top_ft a,
    .bottom_ft>div .text_wrap p{ font-size:14px; }
    .family_btn button{ width:190px; }

    .login_wrap{ margin:170px 0 50px; }
    .top_login{ padding:35px 0; }
    .top_login h3{ font-size:18px; margin-bottom:8px; }
}

@media screen and (max-width:800px){
    .bottom_ft>div{ padding:25px 0; }
    .bottom_ft>div .text_wrap p{ margin-bottom:30px; }

    .login_wrap{ margin:155px 0 50px; }
    .login_wrap form>div label{ font-size:15px; }
}

@media screen and (max-width:600px){
    header .util .mobile_btn{ margin-left:15px; }
    .util a:last-of-type{ margin-left:10px; }

    .top_ft a:not(:first-of-type){ margin-left:20px; }
    .top_ft a, .bottom_ft>div .text_wrap p{ font-size:13px; }
    .bottom_ft>div .text_wrap{ margin-bottom:50px; }
    .bottom_ft>div .text_wrap p{ line-height:21px; }
    .bottom_ft>div .text_wrap p br{ display:none; }

    .login_wrap{ margin:140px 0 50px; }
}

@media screen and (max-width:600px){
    /*공통*/
    .board_label{ font-size:12px; width:60px; }



    header nav h1 a img{ width:90%; }
    .util a:last-of-type{ margin-left:15px; width:75px; }

    .btm_search_modal form input, .btm_search_slide form input{ width:76%; }

    .login_wrap{ margin:125px 0 50px; }
    .top_login{ padding:30px 0; }
    .top_login h3{ font-size:15px; }
    .top_login p{ font-size:14px; }
    .top_login h3 img{ width:4%; margin-right:5px; }
    .login_wrap form>div label{ width:60px; }
    .login_wrap form>div input{ width:175px; }
}