/*
main_swiper
*/
.main_swiper{
    position:relative;
    height:650px;
    overflow:hidden;
}

.swiper-slide{
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}
.main_swiper .swiper-slide:nth-of-type(1){ background-image:url('../img/main_bg.png'); }
.main_swiper .swiper-slide:nth-of-type(2){ background-image:url('../img/main_bg.png'); }
.main_swiper .swiper-slide:nth-of-type(3){ background-image:url('../img/main_bg.png'); }

.txt_title{
    position:absolute; left:50%; top:30%;
    transform: translateX(-50%);
}
.txt_title strong{
    font-size:29px;
    font-weight:500;
    color:#77c1ff;
}
.txt_title h2{
    font-size:90px;
    font-weight:600;
    color:#fff;
    line-height:100%;
    margin-bottom:15px;
}
.txt_title span{
    font-size:25px;
    font-weight:500;
    color:#73fbfd;
}

/*
news
*/
.news{
    background:url('../img/news_bg.png') no-repeat center / cover;
    width:100%;
    padding:55px 0 35px;
}
.news .main_title{
    text-align:center;
    margin-bottom:25px;
}

/*tab_list*/
.news .tab_list{
    display:flex;
    justify-content:center;
    margin-bottom:35px;
}
.news .tab_list button:not(:first-of-type){ margin-left:10px; }
.news .tab_list button{
    display:block;
    width:95px;
    height:40px;
    line-height:40px;
    border:1px solid #8f8f8f;
    border-radius:10px;
    text-align:center;
    transition:all .3s ease-in-out;

    font-size:15px;
    font-weight:500;
    color:#8f8f8f;
}
.news .tab_list button.active,
.news .tab_list button:hover{
    background-color:#1976d3;
    color:#fff;
    border-color:#1976d3;
}
.news .tab_list a{
    margin-left:10px;
    border-color:#8f8f8f;
}

/*news_list*/
.news_swiper{
    display:none;
    max-width:1440px;
    width:100%;
    margin:0 auto;
    overflow-x:hidden;
    padding:20px;
}
.news_swiper.active{ display:block; }
.news_swiper .swiper-wrapper li{ z-index: 333;}
.news_swiper .swiper-wrapper li a{
    display:block;
    padding:40px;
    background-color:#fff;
    border-radius:0 25px 0 0;
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.05);
    transition: box-shadow 0.2s linear;
}
.news_swiper .swiper-wrapper li a:hover{
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.2);
}
.news_swiper .swiper-wrapper li a .board_label{ margin-bottom:10px; }
.news_swiper .swiper-wrapper li a h4{
    width:85%;
    margin-bottom:30px;

    font-size:22px;
    font-weight:500;
    line-height:30px;
    color:#000;
}
.news_swiper .swiper-wrapper li a h4 img{ vertical-align:middle; }
.news_swiper .swiper-wrapper li a time{
    display:block;
    padding-top:10px;
    border-top:1px solid #d9d9d9;

    font-size:14px;
    font-weight:400;
    color:#3e3e3e;
}
.news_swiper .swiper-wrapper li a time img{
    vertical-align:middle;
    margin-right:7px;
}

/*
companyletter
*/
.company_letter{
    display:flex; flex-wrap:wrap;
    padding:55px 0;
}
.company_letter>div{
    max-width:680px;
    width:48.5%;
}
.company_letter .letter{ margin-left:3%; }
.company_letter .letter>a{
    display:block;
    height:380px;
    text-indent:-9999px;
    background:url('../img/letter_img.png') no-repeat center / cover;
}

/*
business
*/
.business{
    padding:55px 0;
    background-color:#f2f4f7;
    text-align: center;
}
.business>div{ position:relative; }
.business .main_title{ margin-bottom:20px; }
.business_swiper{
    overflow-x:hidden;
}
.business_swiper li a{
    display:block;
    background-color:#fff;
    padding-bottom:25px;
}
.business_swiper li a:hover .img_box img{ transform:scale(1.1); }
.business_swiper .img_box{
    margin-bottom:25px;
    overflow:hidden;
}
.business_swiper .img_box img{
    display:block;
    width:100%;
    transition:all .3s ease-in-out;
}
.business_swiper h4{
    display:block;
    font-size:20px;
    font-weight:600;
    line-height:27px;
    color:#000;
    text-align:center;
}

/*business_swiper 버튼*/
.business_swiper .swiper-button{
    width:145px;
    display:flex;
    position:absolute; right:0; top:30px;
}
.business_swiper .swiper-button-prev,
.business_swiper .swiper-button-next,
.business_swiper .swiper-button a{
    display:inline-block;
    width:40px;
    height:40px;
    border:none;
    border-radius:10px;
    background-repeat:no-repeat;
    background-position:center;
    background-color:#fff;
}
.business_swiper .swiper-button-prev{ background-image:url('../img/arrow_dk_ico.png'); }
.business_swiper .swiper-button-next{
    transform:rotate(180deg);
    margin-left:8px;
    background-image:url('../img/arrow_dk_ico.png');
}
.business_swiper .swiper-button a{
    text-indent:-9999px;
    margin-left:15px;
    background-image:url('../img/puls_dk_ico.png');
}

/*
question_bio
*/
.question_bio{
    display:flex; flex-wrap:wrap;
    align-items:flex-end;
    padding:55px 0;
}
/*왼쪽 question*/
.question_bio .question,
.question_bio .bio{
    max-width:680px;
    width:48.5%;
}
.question_bio .question_list li:not(:last-of-type){ margin-bottom:20px; }
.question_bio .question_list li a{
    display:block;
    line-height:80px;
    background-color:#edeff3;
    text-indent:30px;
    
    font-size:18px;
    font-weight:600;
    color:#000;
}
.question_bio .question_list li a span{
    color:#1976d3;
    margin-right:18px;
}

/*오른쪽 bio*/
.question_bio .bio{
    height:470px;
    margin-left:3%;
}
.bio_title_wrap{
    height:80px;
    background-color:#fff;
    border:1px solid #c7c7c7;
    border-radius:10px 10px 0 0;
    padding:0 25px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}
.bio_title_wrap .main_title{ font-size:28px; }

.bio_swiper{
    height:390px;
    background-color:#a8c9ec;
    border-radius:0 0 10px 10px;
    padding:4%;
    overflow:hidden;
}
.question_bio .swiper-slide{
    padding:0 30px;
    background-color:#fff;
    border-radius:10px;
}
.question_bio .swiper-slide li:not(:last-of-type){ border-bottom:1px solid #c7c7c7; }
.question_bio .swiper-slide li a{
    display:flex;
    align-items:center;
    padding:28px 10px;
}
.question_bio .swiper-slide li a h4{
    font-size:18px;
    font-weight:600;
    color:#000;
    margin-left:17px;

    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.question_bio .swiper-button-next{ margin-left:5px; }
.question_bio .swiper-button a{ margin-left:10px; }

/*
perf
*/
.perf{
    background-color:#f2f4f7;
    padding:55px 0;
}
.perf>div{ text-align:center; }
.perf .main_title{ margin-bottom:20px; }

.perf_list{ display:flex; flex-wrap:wrap; }
.perf_list li{
    max-width:320px;
    width:22.75%;
}
.perf_list li:not(:first-of-type){ margin-left:3%; }
.perf_list li a{
    display:block;
    padding:50px 0;
    background-color:#fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.04);
}
.perf_list li a img{ margin-bottom:20px; }
.perf_list li a strong{
    display:block;
    line-height:100%;
    font-size:50px;
    font-weight:500;
    color:#1976d3;
}
.perf_list li a strong span{
    font-size:30px;
    font-weight:700;
    color:#000;
}
.perf_list li a h4{
    font-size:15px;
    font-weight:700;
    color:#000;
}

/*
ent_introduce
*/
.ent_introduce{
    display:flex;
    align-items:center;
    padding:45px 0;
}
.ent_introduce .text_ent{
    display:flex;
    align-items:center;
    width:35%;
}
.ent_introduce .text_ent p{
    font-size:15px;
    font-weight:600;
    line-height:26px;
    margin-left:20px;
}

.ent_introduce_swiper_wrap{
    display:flex;
    overflow:hidden;
    width:65%;
}
.ent_introduce_swiper{
    width:calc(100% - 150px);
    overflow:hidden;
}
.ent_introduce_swiper .swiper-slide{
    display:flex;
    align-items: center;
    width:131px;
}
.ent_introduce .swiper-button{
    width:150px;
    font-size:0;
    text-align:right;
    margin-left:30px;
}
.ent_introduce .swiper-button-next{ margin-left:8px; }
.ent_introduce .swiper-button a{ margin-left:13px; }