/*
import로 서브 페이지 한번에 관리할 예정

ex)
sub1-1
sub1-2
.
.
.
*/



/*
sub_bnr
*/
.sub_bnr{
    width:100%;
    background-image:url('../img/sub1_bg.png');
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    text-align:center;
    padding:60px 0;
    margin-bottom:55px;
}
.sub_bnr h2{
    font-weight:700;
    font-size:50px;
    color:#fff;
}

/*
container
*/
.sub_container{
    display:flex; flex-wrap:wrap;
    margin-bottom:100px;
}

/*aside 왼쪽메뉴*/
.sub_container aside{
    width:240px;
    margin-top:3px;
}
.sub_container aside h3{
    font-weight:700;
    font-size:25px;
    color:#4e4e4e;
    padding-bottom:10px;
    border-bottom:2px solid #4f4f4f; 
}
.sub_container aside ul li a{
    display:block;
    line-height:53px;
    text-indent:15px;
    border-bottom:1px solid #c7c7c7;
    background-image:url(../img/puls_ico.png);
    background-repeat:no-repeat;
    background-position:93% center;

    font-size: 15px;
    font-weight:500;
    color:#848484;
}
.sub_container aside ul li a:hover,
.sub_container aside ul li a.active{
    background-image: url(../img/puls_wh_ico.png);
    background-color:#1976d3;
    color:#fff;
}

/*sub_title*/
.sub_container main{
    width:1100px;
    margin-left:60px;
}
.sub_title{
    display:flex; flex-wrap:wrap;
    align-items:flex-end;
    padding-bottom:16px;
    border-bottom:2px solid #000;
}
.sub_title h3{
    font-weight:700;
    font-size:35px;
    line-height:100%;
}
.sub_title ol{ margin-left:auto; }
.sub_title ol li{
    display:inline-block;
    vertical-align:middle;
    font-weight:500;
    font-size:14px;
}
.sub_title ol li:first-of-type{ height:13px; }
.sub_title ol li:first-of-type img{ display:block; }
.sub_title ol li:not(:first-of-type)::before{
    content:''; display:inline-block;
    width:8px; height:14px;
    margin:0 14px;
    vertical-align:middle;
    background:url('../img/arrow_ico.png') no-repeat center;
}