.container {
      max-width: 1200px;
  }

  .sub-top {
      background-size:cover!important;
  }

  .sub-title {
      background-size:cover!important;
  }
  
  /*2023/03/29 css 추가*/
  .table-mobile {
      display:none;
    }
  /*2023/03/29 css 추가 - 끝*/

  @media all and (max-width: 1920px){
      .sub-title {
          background:none!important;
      }
  }
  
  .container-menu-desktop {
    height: 90px;
    margin-top:0px!important;
  
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }


  .dep02:hover {
    background:#ddd;
    display:block;

  }

  .sub-contents {
      padding:30px 0;
      width:100%;
      min-height:800px;
      background:#fff;
      float:left;
      /*height:100%;*/
  }

  .sub-title {
      height:180px;
      z-index:1;
  }

  .sub-title h1 {
      margin:0;
      padding:0;
      color:#fff;
      line-height:180px;
      font-size:3em;
      font-family:'KoPubWorld_Dotum_B';
  }
  .sub-title h1 span {
      font-family:'KoPubWorld_Dotum_L';
  }

  .vertical-bar {
      padding:0 10px;
  }

  #left {
    position: relative;
    float: left;
    width: 250px;
    border:1px solid #ddd;
  }

  #left h2 {
    display: table-cell;
    width: 250px;
    height: 100px;
    background: #ed6d6d url(../img/bg-lnb-tit.png) no-repeat 100% 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    font-family: 'KoPubWorld_Dotum_M';
    color: #fff;
}

#left h2 span {
    font-family:'KoPubWorld_Dotum_M';
    font-size:12px;
}

#left>ul {
    margin:0;
}

#left>ul>li {
    background: #fff url(../img/sub_nav_cross.png) no-repeat 90% 50%;
    border-bottom:1px solid #ddd;
    position:relative;
    
}

#left>ul>li>a {
    display: block;
    position: relative;
    color: #515151;
    height: 50px;
    padding-left: 28px;
    line-height: 50px;
    font-size: 15px;
    letter-spacing: -0.8px;
}

#left>ul>li:hover {
    background:#f3f3f3 url(../img/sub_nav_cross.png) no-repeat 90% 50% ;
}

#left>ul>li:hover:after {
    content:'';
    width:20px;
    height:5px;
    background:#ed6d6d;
    position: absolute;
    left: 0;
    top: 44%;
}

.hover {
    background:#f3f3f3 url(../img/sub_nav_cross.png) no-repeat 90% 50%;;
}

.hover:after {
    content:'';
    width:20px;
    height:5px;
    background:#ed6d6d;
    position: absolute;
    left: 0;
    top: 44%;
}

.right-contents {
/*     margin-left:25px; */
    padding:0 0 0 15px;
}

.right-contents .r-title-box {
    padding: 0 0 10px 0;
    border-bottom:1px solid #ddd;
    position:relative;
}

.right-contents .r-title-box h3 {
    color: #333;
    font-size:2.3em;
    font-family:'KoPubWorld_Dotum_M';
    background:url('../img/sub_nav_dot.png')no-repeat 0 45%;
    padding:0 0 0 25px;
}

.right-contents .r-title-box .r-location {
    position:absolute;
    right:0;
    bottom:10px;
    font-size:13px;
}

.right-contents .r-title-box .r-location span {
    padding:0 10px;
}

.right-contents .r-title-box .r-location strong {
   font-weight:normal;
}

.r-contents{
/*     padding:40px 0; */
}

.r-contents .text-title {
    font-size:1.8em;
    color:#264e9c;
    font-family:'KoPubWorld_Dotum_M';
}

.r-contents .text-contents {
    font-size:1.2em;
    color:#555;
    /*font-family:'NanumSquareL';*/
    line-height:1.75em;
    padding:15px 0;
    letter-spacing: -0.03125em;
}

.vartical-box {
    position:relative;
    background:#f9f9f9;
    border:1px solid #ddd;
    padding:20px 15px;
    margin:5px;
}

.pink-bar:before {
    content:'';
    position:absolute;
    top:-4px;
    left:30px;
    width:50px;
    height:8px;
    background:#ed5f5f;

}

.blue-bar:before {
    content:'';
    position:absolute;
    top:-15px;
    left:15px;
    width:20px;
    height:3px;
    background:#264e9c;
}

.green-bar:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 20px;
    height: 4px;
    background: #053d0d;
}

.small-bar {
    position:relative;
}

.small-bar:before {
    content:'';
    position:absolute;
    bottom:-15px;
    left:50%;
    margin-left:-10px;
    width:20px;
    height:3px;
    background:#264e9c;
}
.vartical-thumbnail {
    width:90%;
    margin:0 auto;
    overflow:hidden;
    text-align:center;
}

.vartical-box ul {
    padding:0 6px;
}

.vartical-box ul li {
    font-size:1.5em;
    margin-bottom:5px;

    color:#333;
}

.vartical-box ul li span {
    float:right;
    font-family:'KoPubWorld_Dotum_L';
}

.wrap-menu-desktop {
    position:absolute;
    top:0!important;
}

.b-title {
    font-family:'KoPubWorld_Dotum_L';
    font-size:2.4em;
    color:#264e9c;
    margin:15px 0;
}

.g-title {
    font-family:'KoPubWorld_Dotum_L';
    font-size:1.9em;
    color:#053d0d;
    margin:30px 0 5px 0;
    float:left;
}

.g-title-lg {
    font-family: 'KoPubWorld_Dotum_B';
    font-size: 2.3em;
    color: #053d0d;
    margin: 30px 0 5px 0;
    line-height: 1.5em;
    float: left;
    position: absolute;
    top: -20px;
}

.m-title {
    color:#424242;
    font-size:2em;
    margin-bottom:20px;
}

.d-title {
    font-family:'KoPubWorld_Dotum_B';
    color:#000;
    font-size:2em;
}

.b-text {
    font-family:'KoPubWorld_Dotum_L';
    font-size:1.5em;
    color:#515151;
    margin:5px 0 15px 0;
    line-height:1.8em;
    float:left;
    width:100%;
}

.b-text ul {
    border-top:2px solid #ddd;
}

.b-text ul li {
    border-bottom:1px solid #ddd;
    width:100%;
    float:left;
    padding:.3em 0;
}

.b-text ul li span{
    width:50%;
    float:left;
}

.btn-pink {
    background:#ed5f5f;
    color:#fff;
    height:50px;
    line-height:50px;
    font-family:'KoPubWorld_Dotum_L';
    font-size:1.8em;
    display:block;
    width:100%;
    border-radius:5px;
    transition:all 0.5s;
}

.btn-pink:hover {
    background:#aa4040;
}

.sm-main-box {
    background:#f9f9f9;
    border:1px solid #ddd;
    padding:20px;
    position:relative;
    /*
    display:flex;
    justify-content: space-between;
    */
}

.sm-main-box h3 {
    font-size:1.6em;
    padding: .75em 1.5em .7em 0;
}

/* location */
.locationWrap {border-bottom:1px solid #515151;background: #4d4d4d;}
#location{background: #4d4d4d;z-index:9;position: relative;transition:top .3s; z-index:1; border-bottom:1px solid #ddd;}
#location .ly_center_mom{position: relative;}
.location_guide{border-left:1px solid #515151;background: #4d4d4d;}
.location_guide::after{content: '';display: block;clear: both;}
.location_guide > *{float: left;}
.location_guide_home{background:url(../img/location_home.png) no-repeat center #000000;width: 48px;height: 48px;display: block;color:transparent !important;}
.location_guide_home:hover{color:transparent;}

.location_guide ul, 
.location_guide li{margin:0;padding:0;list-style:none;}
.location_guide > ul{border-right:1px solid #515151;}
.location_guide > ul > li{float: left;border-left:1px solid #515151;background: #272727;}
.location_guide > ul > li > button {background: url(../img/location_arrow_down.png) no-repeat center right 16px;border:0;padding:0 16px;text-align: left;display: block;height: 48px;min-width:200px;color: #ffffff;cursor:pointer;padding-right:40px; font-size:1.5em; }
.location_guide > ul > li.active button{background-image:url(../img/location_arrow_up.png)}

.location_guide a {color:#000000 !important; font-size:1.3em;}

.location_guide li ul{display: none;}
.location_guide li.active ul{display: block;}
.location_guide li{position: relative;}
.location_guide li ul{position: absolute;background: #fff;left:-1px;right:-1px;border:1px solid #515151;padding: 14px;}
.location_guide li li{margin-top: 10px;position: relative;padding-left: 8px;}
.location_guide li li:first-child{margin-top: 0;}
.location_guide li li::after{content: '';width: 2px;height: 2px;background: #444444;left:0;position: absolute;top:8px;}

.location_guide li li.locked a{color: #0d79c2;font-weight: 600;}

.container_setting{position: absolute;right:0;top:12px;}
.container_setting a,
.container_setting button{float: left;width: 24px;height: 24px;font-size: 0;padding: 0;box-sizing:border-box;margin-left: 3px;}

.btn_print{background:url(../img/icon_prient.gif) no-repeat center #717171;}
.btn_zoom,
.btn_zoomout{border:1px solid #c9c9c9;cursor:pointer;}

.btn_zoom{background:url(../img/icon_plus.gif) no-repeat center;}
.btn_zoomout{background:url(../img/icon_minus.gif) no-repeat center;}

#location.lay_fixed{position: fixed;top:96px;width: 100%;left:0;}

@media all and (max-width: 1300px){
    #location .ly_center_mom{width: 100%;margin: 0;}
    .search-box {
        display:none;
    }

    .time-select {
        margin-top:60px;
    }

    .program-title .program-icon {
        background:none;
    }

   .program-text {
       margin:70px 0 0 0;
   }

  
   
}

@media all and (max-width: 1070px){
	/*#location{top:95px;position: fixed;left:0;right:0;border-bottom:0;}*/
	#location.lay_fixed{top:95px;}

	.container_setting{display: none;}

    .location_guide{border-left:0;letter-spacing:-.025em;}
    .location_guide li ul {background:#f9f9f9; border:1px solid #ddd;}
	.location_guide li li{padding-left: 15px;}
    .location_guide li li::after{top:50%;}
    .location_guide a {font-size:1.1em;}
	.location_guide_home{background:url(../img/location_home.png)no-repeat center #ed6d6d ;width: 35px;height: 40px;}
	.location_guide > ul{width:calc(100% - 35px);border-right: 0;}
	.location_guide > ul > li{background: none;box-sizing:border-box;border-left:0;display: none;width:calc(50% - 45px);font-size: 13px;}
	.location_guide > ul > li::after{content: '';position: absolute;left:0;height:3px;width:1px;background: #ddd;top:50%;margin-top:-7px;height:14px;}
	.location_guide > ul > li:first-child::after{content: none;}
	.location_guide > ul > li > button{min-width:auto;color: #515151;height:40px;padding-left:10px;padding-right:17px;width:100%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background:#fff url(../img/location_arrow_down_dark.png) no-repeat right 10px center;background-size:15px;font-size: 13px;}
	.location_guide > ul > li.active button{background-image:url(../img/location_arrow_up_dark.png)}
	.location_guide > ul > li:nth-of-type(1),
	.location_guide > ul > li:nth-of-type(2),
	.location_guide > ul > li:nth-of-type(3){display: block; width:50%;}

	.location_guide > ul > li:nth-of-type(1){width:50%;}

	/*.location_guide li ul{padding:7px}

	#location.lay_fixed{top:0;animation:tttest .3s;}
	@keyframes tttest{
		from{opacity:0;top:-40px;}
		to{opacity:1;top:0;}
	}
    */

    .right-contents .r-title-box {
        border:none;
    }
    
    
    .hongbo-body ul li {
        width:47%!important;
        height:430px!important;
    }

    
    .vartical-box button {
        border-radius:0;
    }

    .reservation-btn li {
        padding:15px 15px 15px 0!important;
    }

    .reservation-btn li:last-child {
        padding:15px 0 15px 0!important;
    }

    .reservation-btn ul li a {
        padding:.5em 0!important;
    }

    .modal-con {
        width:90%;
        min-width:90%;
        z-index:9999;
    }

    .reservation-all h3 {
        font-size:1.6em!important;
    }

    .slick-slider {
        top:0;
    }

   

  

}

@media all and (max-width:850px){

    .program-box span {
        width:100%!important;
    }

    .hn-support-contents li strong {
        width:25%!important;
    }

    .hn-support-contents li span {
        width:75%!important;
    }


	.topbar-mobile {background:#4bb000 !important; margin-bottom:0 !important;}
	.right-top-bar {display:none;}
	.bo1-b {border:0 !important;}
    .table {overflow-x:scroll; overflow-y:hidden;}

    ul.resume-tabs li, ul.resume-tabs2 li {
        font-size:.9em!important;
    }

    .resume-tab_container p {
        font-size:.9em!important;
    }

    .resume-tab_container .b-text {
        font-size:.7em!important;
    }
    
    .hongbo-body ul li {
        width:47%!important;
        margin:5px!important;
    }

    .right-contents .r-title-box .r-location {
        display:none;
    }

    img {
        max-width:100%;
    }

    .board-item {
        min-height: 120px!important;
        padding-left:40px!important;
        line-height:2em!important;
    }

    .item-nmb {
        top: 26px!important;
        width: 30px!important;
        background: #f2f2f2;
        height: 30px;
        border-radius: 15px;
        line-height: 30px;
    }
    
    .item-info h5 {
        margin-right:5px!important;
    }

    .item-label {
        left:47px!important;
        margin:31px 0 0 0;
    }

    .item-title {
        position: static!important;
        font-size: 1.5em!important;
        margin:23px 0 0 0;
    }

    .item-title span {
        padding: 9px 0 0 0!important;
    }

    .item-info {
        display:block;
        margin-top:70px!important;
    }

    .board-title .title-text {
        font-size: 1.3em!important;
        margin: .7em 0 0 0!important;
    }

    .board-title .title-text:after {
        display:none!important;
    }

    .board-title .start-end-label {
        text-align: center;
        margin: 1em 0 0 0!important;
        font-size:.8em;
    }

    .board-table .board-contents p {
        padding:0 5px!important;
    }

    .pink-label {
        padding:0;
        color:#ed6d6d;
        background:none;
        font-weight:700;
    }
    
    .yellow-label {
        padding:0;
        color:#edb234;
        background:none;
        font-weight:700;
    }

    .white-label {
        padding:0;
        color:#515151;
        border:none;
        font-weight:700;
    }

    .white-label-odd {
        border:0;
        font-weight:700;
    }

    .blue-label {
        background:none;
        color:#80c8ff;
        font-weight:700;
        padding:0;
    }

    .table td {
        padding:12px 5px;
    }

    .sm-main-box input, .sm-main-box select {
        width:100%;
        margin: 7px 0;
    }

    .sm-main-box .search-btn {
        display:block;
        width:100%;
        margin:7px 0 0 0;
    }

    .m-title {
        margin-top:30px;
    }

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding:0!important;
    } 

    .vartical-box {
        padding:15px!important;
    }

    .bodo-body .ent-logo {
        padding-top:100%;
    }

    .bodo-body .ent-logo {
        padding-top:100%;
    }

    .bodo-body ul li {
        padding:30px 20px!important;
    }

    .caption strong {
        padding:0 0 10px 0!important;
        font-size:1.5em!important;
    }

    .caption small {
        top:-20px!important;
        font-size:1.2em!important;
    }

    .caption .desc {
        font-size:1.2em!important;
    }

    .hongbo-body ul li {
        height:300px!important;
    }

    #slider-div {
        height:auto!important;
    }

    .introduce1>li>div {
        width:500px!important;
        line-height:500px;
    }


}


/*추가 반응형 css*/

@media all and (max-width:590px){

	/*2023/03/29 css 추가*/
    .table-mobile {
        display:block;
      }

    .table-pc {
        display:none;
    }
    /*2023/03/29 css 추가 - 끝*/
    
    #slider-div-sm2 {
        height:auto!important;
        line-height:20px!important;
    }

    .introduce1>li>div {
        width:300px!important;
        height:200px!important;
        line-height:200px!important;
    }

    .introduce1>li>div img {
        width:300px!important;
        height:200px!important;
    }

    .item-info {
        display: block;
        margin-top: 85px!important;
        left: 26px;
        left: 35px;
    }

    .item-info h5 {
        margin: 5px!important;
        width:100%!important;
    }

    .board-item {
        min-height: 185px!important;
    }

    .item-title {
        margin:0;
        width:100%;
    }

    .item-nmb {
        top:37px!important;
    }

    .sub-title h1 {
        line-height: 1.5em;
        padding: 70px 0;
    }

    .hongbo-body ul li {
        height:230px!important;
    }

    .tab_content, .tab_content2 {
        overflow:auto;
    }

    .resume-tab_container {
        height:auto!important;
    }

    
}

@media (max-width: 1300px) {
    .left-menu {
      display:none;
    }
  
    .inner {
      width:100%;
    }
  
    .right-contents {
      margin:0!important;
      padding:0 15px!important;
    }
  
    .sub-top {
      height:auto!important;
    }
  
    .sub-title h1{
      font-size:1.8em;
      text-align:center;
    }

      /*메인 반응형*/
      .main-contents {
        position:relative;
    }

    .main-cintents-wrap {
        background:#eaeaea;
        float:left;
    }

    .main-title img {
        max-width:70%;
    }

    .main-contents .col-lg-2, .main-contents .col-lg-4 {
        margin:0;
        height:auto;
        width:100%;
        margin: 0 0 30px 0;
        box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    }

    .flrst-white-box {
        margin-top:30px!important;
    }

    .blue-box {
        background:rgba(63,93,166,1)!important;
    }

    .white-box {
        background:#fff!important;
    }

    

    .main-contents {
        top:90px;
    }

    .m-box-title {
        text-align:center;
        /*border-top:2px solid #ddd;*/
        border-bottom:1px solid #ddd;
        padding-left:15px;
 
    }

    .m-box-contents {
        float: left;
        padding:0;
    }

    .introduce1 {
        padding:15px;
        float:left;
        width:100%;
    }

    .introduce1 li {
        background:#f1f1f1;
    }


    .introduce1>li>div {
        width:700px;
        height:500px;
        line-height:500px;
        margin:0 auto;
    }

    .introduce1>li>div img {
        height:500px;
    }

    .m-box-contents .more-btn {
        margin:0 16px 16px 0;
    }

    .introduce1 li:first-child .campus-video {
        height:auto;
    }

    

    #slider-div-sm3, .introduce1 li:first-child .campus-video img {
        height:auto;
    }

    #slider-div-sm2 {
        height:auto;
        line-height:20px;
    }
   

    .slide-dots {
        top:70%;
    }

    #slider-div {
        height:500px;
    }

    
    .footer {
        padding: 50px;
        margin: 80px 0 0 0px;
    }

    .family-site {
        padding-top:20px;
        float:left;
    }

    .footer .copy {
        float:left;
        text-align:left;
    }

    .footer .footer-left {
        float:left;
    }

    .footer .footer-right {
        float:left;
        padding:0 0 15px 0;
    }

    .program-icon li .icon-box {
        width:15%;
    }

  
}

  


/*sub1 캠퍼스 소개 css*/

.hn-goal {
    padding: 55px 0 25px 0;
    background: url('../img/sub/sub1-2.png') no-repeat 50% 0;
    text-align:center;
}

.small-title {
    color:#0c347d;
    font-size:1.7em;
    margin:0 auto;
}

.hn-goal h3 {
    font-size:2.1em;
    padding:40px 0 0 0;
}

.hn-goal h1 {
    padding:0 0 30px 0;
}

.hn-direction ul li {
    text-align:center;
    margin-bottom:60px;
}

.hn-direction ul li strong {
    font-family: 'KoPubWorld_Dotum_B';
    color:#fff;
    font-size:1.5em;
    text-align:center;
    padding:1.2em 3.5em;
    border-radius:100px;
}

.hn-direction ul li .p-box {
    height:120px;
    border-radius:200px;
}

.hn-direction ul li:first-child p {
    padding:30px 0;
}

.hn-direction ul li p {
    font-size:1.6em;
    padding:45px 0;

}

.hn-support-contents>li {
    float: left;
    width: 100%;
    margin:15px 0;
    padding:30px;
}

.hn-support-contents h1 {
    color:#0c347d;
    font-size: 2.2em;
    font-family: 'KoPubWorld_Dotum_B';
    line-height: 2.2em;
    text-align:center;
    position:relative;
    margin-top:30px;
}

.hn-support-contents li .program-text p {
    width: 100%;
    float: left;
    padding: 10px 0;
    border-bottom: 1px dotted #ddd;
}

.hn-support-contents li strong {
    width:10%;
    float:left;
}

.hn-support-contents li span {
    width:90%;
    float:right;
    line-height:25px;
}

.hn-support-contents h1:before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 3px;
    background: #264e9c;
}

.room-box .rooms {
    height:auto!important;
    text-align:center;
}

.map-table td {
    font-size:1.5em;
    text-align:left;
    padding:20px;
    line-height:2em;

}

.img-map1, .img-map2 {
    max-width:60%!important;
    width:60%!important;
    top:50%!important;
}

ul.resume-tabs, ul.resume-tabs2 {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
    font-size:12px;
    margin-bottom:16px;
  }

  ul.resume-tabs li, ul.resume-tabs2 li {
    float: left;
    text-align:center;
    cursor: pointer;
    width:33.3%;
    padding:.8em .5em .5em .5em;
    font-size:1.4em;
    overflow: hidden;
    position: relative;
    color:#515151;
    background:#f2f2f2;
    font-family: 'KoPubWorld_Dotum_L';
  }

  ul.resume-tabs li.active, ul.resume-tabs2 li.active {
    background:#ed6d6d;
    padding:.6em 0;
    color:#fff;
  }
  
  .resume-tab_container {
      float:left;
      width:100%;
      height:600px;
      overflow:auto;
      margin-bottom:20px;
  }

  .resume-tab_container h3 {
      margin:0 0 10px 0;
      font-size:1.2em;
  }

  .resume-tab_container .resume-img {
      text-align:center;
      padding:16px 0;
  }

  .resume-tab_container .b-text ul li span {
      width:15%;
  }

  .resume-tab_container .b-text ul li span:nth-child(2) {
      width:85%;
      padding-left:10px;
      border-left: 1px dotted #ddd;
  }

  .resume-tab_container table th, .resume-tab_container table td{
      font-size:.85em;
      padding:.5em;
  }

  .resume-tab_container .b-text {
    font-size:1em;
  }

  .resume-tab_container p {
      font-size:1em;
      text-align:left;
      padding-left:16px;
      line-height:2em;
  }

/*sub2 공지사항 css*/


.faq-box {
    border-top:2px solid #000;
    border-bottom:2px solid #ddd;
}

.faq-box .faq-title {
    font-size:1.6em;
    color:#000;
}

.faq-box dt{
    padding:20px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    cursor:pointer;
    margin:10px 0;
}

.faq-box dt:first-child {
    margin:0;
}

.faq-box dd {
    background:#f9f9f9;
    padding:30px;
}

.faq-box dd p {
    font-size:1.5em;
    line-height:2.1em;
}

.board-box {
    margin:30px 0 0 0;
    border-top:2px solid #000;
}

.board-item {
    position: relative;
    min-height: 61px;
    padding-left: 50px;
    border-bottom: 1px solid #e4e4e4;
    line-height:60px;
}

.item-nmb {
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size:1.5em;
    font-family: 'KoPubWorld_Dotum_B';
}

.item-label {
    top: 0px;
    left: 60px;
    margin-right: 20px!important;
    float: left;
    width:70px;
}

.faq-label {
    width:96px;
}

.item-label .pink-label, .item-label .white-label {
    font-size:1.2em;
}

.item-title {
    font-size:1.3em;
    left:120px;
    float:left;
}

.item-title span {
    height:auto;
    display: block;
    height: 20px;
    float:left;
    font-size:1.1em;
}

.item-info {
    position:absolute;
    top:20px;
    right:0;
}

.item-info h5 {
    float:left;
    font-size:1.3em;
    margin-right:10px;
}

/*sub3 프로그램 안내 css*/

.program-box>ul>li {
    border-bottom:1px solid #ddd;
    float:left;
    width:100%;
    padding:40px 0;
}

.program-box strong {
    font-family: 'KoPubWorld_Dotum_B';
}


.program-box span {
    width:85%;
    float:right;
}

.program-title h1 {
    font-size:2.3em;
    font-family: 'KoPubWorld_Dotum_L';
    position:absolute;
    top:40%;
    line-height:1.4em;
}

.program-title .program-icon {
    width:260px;
    height:130px;
    display:block;
    color:transparent;
    margin-top:70px;
}

.program-icon1 {background:url('../img/sub/sub3-icon-all.png')no-repeat 0 0;}

.program-icon2 {background:url('../img/sub/sub3-icon-all.png')no-repeat 0 -130px;}

.program-icon3 {background:url('../img/sub/sub3-icon-all.png')no-repeat 0 -260px;}

.program-icon4 {background:url('../img/sub/sub3-icon-all.png')no-repeat 0 -390px;}

.program-icon5 {background:url('../img/sub/sub3-icon-all.png')no-repeat 0 -520px;}

.program-text p {
    font-size:1.5em;
    padding:5px 0;
    float:left;
    width:100%;
}

.circle-icon {
    width:100%;
}

.circle-icon li {
    width:20%;
    height:111px;
    border-radius:200px;
    float:left;
    text-align:center;
    position:relative;
}

.circle-icon li p {
    width:100%;
    font-size:1.4em;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    


}

.circle-icon li:nth-child(odd){
    background:#ffccb5;
}

.circle-icon li:nth-child(even){
    border:1px dotted #515151;
}

/*sub4 시설/공간 예약 css*/

.carendar-title {
    padding:20px 20px 10px 20px;
    background:#f2f2f2;
    border:1px solid #ddd;
    border-top:2px solid #000;
    float:left;
    width:100%;
    text-align:center;
}

.c-title-box {
    display:flex;
    justify-content:space-between;

}

.carendar-title ul {
   text-align:right;
   float:right;
   width:75%;
}

.carendar-title ul li {
    width:50%;
    float:left;
    margin:20px 0 0 0;
    font-size:1.4em;
    color:#000;
}

.calendar-contents td {
    height:80px;
    position:relative;
    cursor:pointer;
}

.reservation-table {
    height:630px;
}

.reservation-table h5 {
    font-size:1.6em;
    color:#000;
    position:absolute;
    top:12px;
    left:12px;
}

.reservation-table span {
    position:absolute;
    bottom:5px;
    left:50%;
    margin-left:-45%;
    color:#fff;
}

.reservation-table td {
    cursor:pointer;
}

.reservation-table td:hover {
    background:#f2f2f2;
}

.reservation-choice {
    box-sizing:border-box!important;
    border:3px solid #458cff!important;
    background:#e6f4ff!important;
}


.reservation-off {
    background:#8a8a8a;
    width:90%;
    height:20px;
    border-radius:50px;
}

.reservation-on {
    background:#80c8ff;
    width:90%;
    height:20px;
    border-radius:50px;
}


.time-contents td{
    height:48px;
    font-size:1.8em!important;
}

.reservation-all {
    background:#f9f9f9;
    border:1px solid #ddd;
    text-align:center;
    width:100%;
}

.reservation-all h3 {
    font-size:2.2em;
    line-height:1.5em;
}

.reservation-btn ul {
    width:100%;
}

.reservation-btn li {
    width:50%;
    float:left;
    padding:30px;
    text-align:center;
}

.reservation-btn ul li a {
    padding:.5em 3em;
    font-size:2em;
    display:block;
}

.r-modal{
  display:none;
  position:fixed; 
  width:100%; height:100%;
  top:0; left:0; 
  background:rgba(0,0,0,0.3);
  z-index:2;
}

#r-modal{
    display:none;
    position:fixed; 
    width:100%; height:100%;
    top:0; left:0; 
    background:rgba(0,0,0,0.3);
    z-index:2;
  }


.modal-con{
  display:none;
  position:fixed;
  top:40%; left:50%;
  transform: translate(-50%,-50%);
  max-width: 40%;
  width:40%;
  min-height: 30%;
  background:#fff;
  z-index:9999;
}
.modal-con .modal-title{
  padding: 20px; 
  border-bottom:1px solid #ddd;
}

.modal-con .modal-title h3 {
    font-size:2em;
}
.modal-con .con{
  padding: 30px;
}

.modal-con .con p {
    font-size:1.6em;
}
.modal-con .close{
  display:block;
  position:absolute;
  text-align:center; line-height: 30px;
  right:20px; top:20px;
}

/*sub-5 함께하는 기업 안내 css*/

.ent-title {
    text-align:center;
    padding:0 0 40px 0;
    width:100%;
}

.ent-title p {
    font-size:1.5em;
}

.ent-box {
    margin:5px;
    padding:0!important;
}

.b-title {
    font-size:1.8em;
}

.ent-logo {
    position: relative; 
    padding-top: 50%; 
    overflow: hidden;
}

.ent-logo .ent-logo-detail {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);

}

.ent-logo img {
    position: absolute; 
    top: 0; 
    left: 0; 
    max-width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

/*sub-6 갤러리 css*/

.bodo-body ul {
    border-top:2px solid #000;
    border-bottom:2px solid #ddd;
}

.bodo-body ul li {
    height:165px;
    padding:20px;
    border-bottom:1px dotted #ddd;
}

.bodo-body .bodo-img {
    position:absolute;
    width:25%;
    height:150px;
    left:0;
}

.bodo-body .ent-logo {
    position: relative; 
    padding-top: 55%; 
    overflow: hidden;
}

.bodo-body .ent-logo .ent-logo-detail {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);

}

.bodo-body .ent-logo img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}


.bodo-body .caption {
    position:absolute;
    width:70%;
    right:0;
}

.caption strong {
    padding:20px 0;
    font-family:'KoPubWorld_Dotum_M';
    font-weight:500;
    font-size: 1.8em;
    color: #000;
    letter-spacing: -0.05em;
    display:block;
    line-height: 1.2em;
    word-break:break-all;
}

.caption .desc {
    font-size:1.5em;
    color:#515151;
}

.bodo-body .caption small {
    position:absolute;
    right:0;
    top:20px;
    font-size:1.5em;
    color:#ed6d6d;
    font-family:'KoPubWorld_Dotum_B';
}

.page-wrap {
    text-align:center;
    padding:15px 0;
}

.hongbo-body ul {
    width:100%;
    float:left;
    border-top:2px solid #000;
    border-bottom:2px solid #ddd;
    padding:20px 0;
}

.hongbo-body ul li {
    height:330px;
    width:31%;
    margin:10px;
    float:left;
    position:relative;
    border:1px solid #ddd;
}

.hongbo-body .bodo-img {
    position:absolute;
    width:100%;
    height:200px;
    top:0;
}


.hongbo-body .ent-logo {
    position: relative; 
    padding-top: 70%; 
    overflow: hidden;
    border-bottom:1px solid #ddd;
}

.hongbo-body .ent-logo .ent-logo-detail {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);

}

.hongbo-body .ent-logo img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
}

.hongbo-body .caption {
    padding:10px 20px;
}
.hongbo-body .caption small {
 
    font-size:1.5em;
    color:#ed6d6d;
    font-family:'KoPubWorld_Dotum_B';
}

.board-title {
    padding:5px 0;
}

.board-title > span {
    font-size:1.2em;
}

.board-title .title-text {
    text-align:center;
    font-size:1.5em;
    color:#000;
    font-family:'KoPubWorld_Dotum_M';
    margin:.9em 0 .5em 0;
    position:relative;
}

.board-title .start-end-label {
    text-align:center;
    margin:1.5em 0 0 0;
    
}

.board-title .start-end-label h5 {
    display:inline-block;
    font-size:1.1em;
}

.board-title .start-end-label h5:nth-child(2), .board-title .start-end-label h5:nth-child(3)  {
    margin-left:10px;
}

.board-title .title-text:after {
    content:'';
    width:20px;
    height:1px;
    background:#000;
    position:absolute;
    display:block;
    left:50%;
    margin-left:-10px;
    top:33px;
}

.board-table .board-title small {
    font-size:.9em;
    color:#ed6d6d;
    font-family:'KoPubWorld_Dotum_B';
}

.board-table .board-contents {
    min-height:400px;
    text-align:left;
}

.board-table .board-contents p {
    padding:10px 30px;
    font-family: 'KoPubWorld_Dotum_L';
    font-size: 1.1em;
    color: #333;
    line-height: 1.7em;
}

.board-table .board-contents img {
    display:block;
    text-align:center;
    margin:30px auto;
}

/*sub-7 입주기업 전용공간 css*/

.gray-box {
    background:#f9f9f9;
    width:100%;
    padding:30px 0;
    text-align:center;
}

.input-box {
    margin:20px 0;
}

.input-box label {
    font-family: 'KoPubWorld_Dotum_M';
    font-size:1.6em;
    color:#515151;
    width:120px;
    text-align:left;
    font-weight:500;
}

/*sub-result css*/

.result-count .result-text {
    font-size:17px;
    padding:10px 0 0 0;
}

.result-count .result-text .search-word {
    color:rgb(18, 54, 214);
    font-family: 'KoPubWorld_Dotum_B';
}

.result {
    width:100%;
    float:left;
    border-bottom:1px solid #ddd;
}

.result-head {
    font-family: 'KoPubWorld_Dotum_M';
    padding: 3px 0 0 10px;
    border-top: 2px solid #2f5ebd;
    background:#f7fbff;
    border-bottom: 1px solid #ddd;
    line-height: 38px;
    display:block;
    font-size:18px;
    color:#000;
    margin:30px 0 0 0;
}


.result ul li a {
    font-size:1.5em;
}

.result-all ul li {
    width:25%;
    float:left;
    line-height:1.8em;
    padding: 30px 0 30px 30px;
}

.result-all ul li:before {
    content:'';
    width:5px;
    height:5px;
    background:#515151;
    border-radius:5px;
    position:absolute;
    transform: translate(-16px,6px);
}

.result1 ul li {
    padding:20px;
    border-bottom:1px dotted #ddd;
    position:relative;
    font-size:13px;
}

.result1 ul li .result-title {
    color:#000;
    font-family: 'KoPubWorld_Dotum_B';
    font-size:18px;
}

.result1 ul li p {
    padding:15px 0 0 0;
    font-size:13px;
}

.result1 ul li small {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 12px;
    color: #ed6d6d;
    font-family: 'KoPubWorld_Dotum_B';
}