<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apeak.startupcampus.model.dao.CommunityPartnerMapper">
	<!-- <resultMap type="bookListDTO" id="bookWithAccountId" autoMapping="true">
		<id column="SEQ_ID" property="seqId"/>
		<result column="PLACE_ID" property="placeId"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="STATUS" property="status"/>
		<association property="userDTO" javaType="userDTO" autoMapping="true">
			<result column="USER_ID" property="seqId"/>
			<result column="ACCOUNT_ID" property="accountId"/>
		</association>
	</resultMap> -->
	
	<!-- 게시글 리스트 카운트 -->
	<select id="selectCommunityPartnerPostCount" parameterType="map" resultType="int">
		<![CDATA[
			SELECT
				count(*)
			FROM
				board_community_partner
				LEFT JOIN user_info
					ON	user_info.SEQ_ID = board_community_partner.WRITER_ID
			WHERE
				1 = 1
		]]>
		<include refid="search" />
	</select>
	
	<!-- 게시글 리스트 조회 -->
	<select id="selectCommunityPartnerPostList" parameterType="map" resultType="boardCommunityDTO">
			<![CDATA[
				SELECT
					pcp.SEQ_ID AS SEQ_ID, pcp.WRITER_ID, pcp.WRITER_IP, pcp.WRITER_NAME, pcp.TITLE, pcp.CONTENT,
					pcp.VIEW_COUNT, pcp.CREATED_AT, pcp.UPDATED_AT,
					COALESCE(bcc.commentCnt, 0) AS commentCnt
				FROM
					board_community_partner pcp
					LEFT JOIN user_info ui ON ui.SEQ_ID = pcp.WRITER_ID
					LEFT JOIN (
					  SELECT POST_ID, COUNT(*) AS commentCnt
					  FROM board_community_comment
					  GROUP BY POST_ID
					) bcc ON bcc.POST_ID = pcp.SEQ_ID
				WHERE
					1 = 1
			]]>
			<include refid="search" />
			<![CDATA[
				ORDER BY
					pcp.SEQ_ID DESC
				LIMIT #{index}, #{size}
			]]>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'title'.toString()">
				AND TITLE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'content'.toString()">
				AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'titleAndContent'.toString()">
				AND (TITLE LIKE CONCAT('%', #{keyword}, '%')
					OR CONTENT LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<if test="searchType == 'writer'.toString()">
				AND user_info.NAME LIKE CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	
	<select id="selectCommunityPartnerPostOne" parameterType="int" resultType="map">
		SELECT
			board_community_partner.SEQ_ID, WRITER_ID, WRITER_NAME, TITLE, CONTENT, VIEW_COUNT,
			DATE_FORMAT(board_community_partner.CREATED_AT,'%Y-%m-%d') AS CREATED_AT,
			board_community_partner.FILE_PATH AS FILE_PATH,board_community_partner.FILE_NAME AS FILE_NAME
		FROM
			board_community_partner
			LEFT JOIN user_info
			ON	user_info.SEQ_ID = board_community_partner.WRITER_ID
		WHERE
			board_community_partner.SEQ_ID = #{value}
	</select>
	
	<update id="updateCommunityPartnerPostViewCount" parameterType="int">
		UPDATE
			board_community_partner
		SET
			VIEW_COUNT = VIEW_COUNT + 1
		WHERE
			SEQ_ID = #{value}
	</update>

	<!-- 관리자용 -->
	<insert id="insertCommunityPartnerPostOne" parameterType="boardDTO">
		INSERT INTO
			board_community_partner
		(
			WRITER_ID, WRITER_NAME, WRITER_IP, TITLE, CONTENT, FILE_NAME, FILE_PATH
		)
		values (
			#{writerId}, #{writerName}, #{writerIp}, #{title}, #{content}, #{fileName}, #{filePath}
		)
	</insert>
	
	<update id="updateCommunityPartnerPostOne" parameterType="boardDTO">
		UPDATE
			board_community_partner
		SET
			TITLE = #{title}, CONTENT = #{content}, WRITER_NAME = #{writerName},
			FILE_NAME = #{fileName}, FILE_PATH = #{filePath} 
		WHERE
			SEQ_ID = #{seqId}
	</update>
	
	<delete id="deleteCommunityPartnerPostOne" parameterType="int">
		DELETE FROM board_community_partner
		WHERE SEQ_ID = #{value}
	</delete>
	<!-- 관리자용 -->
	
	<!-- 입주기업(유저)용 -->
	<insert id="insertCommunityPartnerPostOneForPartner" parameterType="boardDTO">
		INSERT INTO
			board_community_partner
		(
			WRITER_ID, WRITER_NAME, WRITER_IP, TITLE, CONTENT
		)
		values (
			#{writerId}, #{writerName}, #{writerIp}, #{title}, #{content}
		)
	</insert>
	
	<update id="updateCommunityPartnerPostOneForPartner" parameterType="boardDTO">
		UPDATE
			board_community_partner
		SET
			TITLE = #{title}, CONTENT = #{content},
			FILE_NAME = #{fileName}, FILE_PATH = #{filePath} 
		WHERE
			SEQ_ID = #{seqId}
			AND WRITER_ID = #{writerId}
	</update>
	
	<delete id="deleteCommunityPartnerPostOneForPartner" parameterType="boardDTO">
		DELETE FROM board_community_partner
		WHERE SEQ_ID = #{seqId}
		AND WRITER_ID = #{writerId}
	</delete>
	<!-- 입주기업(유저)용 -->

</mapper>