<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="apeak.startupcampus.model.dao.NoticeMapper">
	<!-- <resultMap type="bookListDTO" id="bookWithAccountId" autoMapping="true">
		<id column="SEQ_ID" property="seqId"/>
		<result column="PLACE_ID" property="placeId"/>
		<result column="DESCRIPTION" property="description"/>
		<result column="STATUS" property="status"/>
		<association property="userDTO" javaType="userDTO" autoMapping="true">
			<result column="USER_ID" property="seqId"/>
			<result column="ACCOUNT_ID" property="accountId"/>
		</association>
	</resultMap> -->
	
	<!-- 모든 게시글 리스트 카운트 -->
	<select id="selectNoticePostCount" parameterType="map" resultType="int">
		<![CDATA[
			SELECT
				count(*)
			FROM
				board_notice
			WHERE
				1 = 1
		]]>
		<include refid="search" />
	</select>
	
	<!-- 게시글 리스트 조회 -->
	<select id="selectNoticePostList" parameterType="map" resultType="boardNoticeDTO">
			<![CDATA[
				SELECT
					SEQ_ID, `LEVEL`, TITLE, VIEW_COUNT,
					CONTRACT_START_AT, CONTRACT_END_AT, CREATED_AT
				FROM
					board_notice
				WHERE
					1 = 1
					AND level in('100', '102') 
			]]>
			<include refid="search" />
			<![CDATA[
				ORDER BY
					SEQ_ID DESC
				LIMIT #{index}, #{size}
			]]>
	</select>
	
	<!-- 인덱스 고정 게시글 리스트 조회 -->
	<select id="selectFixedNoticePostList" parameterType="map" resultType="boardNoticeDTO">
			<![CDATA[
				SELECT
					SEQ_ID, `LEVEL`, TITLE, VIEW_COUNT,
					CONTRACT_START_AT, CONTRACT_END_AT, CREATED_AT
				FROM
					board_notice
				WHERE
					level in('100') 
					AND CONTRACT_END_AT >= current_date()
				]]>
				<include refid="search" />
				<![CDATA[
				ORDER BY
					LEVEL ASC,			
					SEQ_ID DESC
			]]>
	</select>
	
	<!-- 인덱스 일반 게시글 리스트 조회 -->
	<select id="selectCommonNoticePostList" parameterType="map" resultType="boardNoticeDTO">
			<![CDATA[
				SELECT
					SEQ_ID, `LEVEL`, TITLE, VIEW_COUNT,
					CONTRACT_START_AT, CONTRACT_END_AT, CREATED_AT
				FROM
					board_notice
				WHERE
					level in('102') 
				]]>
				<include refid="search" />
				<![CDATA[
				ORDER BY
					LEVEL ASC,			
					SEQ_ID DESC
			]]>
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'title'.toString()">
				AND TITLE LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'content'.toString()">
				AND CONTENT LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'titleAndContent'.toString()">
				AND (TITLE LIKE CONCAT('%', #{keyword}, '%')
					OR CONTENT LIKE CONCAT('%', #{keyword}, '%'))
			</if>
			<!-- 
			<if test="searchType == 'agency'.toString()">
				AND AGENCY_NAME LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'notice'.toString()">
				AND (LEVEL = '100' OR LEVEL = '102')
			</if>
			<if test="searchType == 'announcement'.toString()">
				AND (LEVEL = '101' OR LEVEL = '103')
			</if>
			 -->
		</if>
	</sql>
	
	<select id="selectNoticePostOne" parameterType="int" resultType="map">
		SELECT
			SEQ_ID, `LEVEL`, TITLE, CONTENT, VIEW_COUNT,
			CONTRACT_START_AT, CONTRACT_END_AT,
			FILE_PATH,FILE_NAME, CREATED_AT
		FROM
			board_notice
		WHERE
			SEQ_ID = #{value}
	</select>
	
	<update id="updateNoticePostViewCount" parameterType="int">
		UPDATE
			board_notice
		SET
			VIEW_COUNT = VIEW_COUNT + 1
		WHERE
			SEQ_ID = #{value}
	</update>

	<insert id="insertNoticePostOne" parameterType="boardNoticeDTO">
		INSERT INTO
			board_notice
		(
			WRITER_ID, WRITER_IP, `LEVEL`,
			TITLE, CONTENT, VIEW_COUNT,
			CONTRACT_START_AT, CONTRACT_END_AT,
			FILE_NAME,FILE_PATH
		)
		values (
			#{writerId}, #{writerIp}, #{level}, 
			#{title}, #{content}, #{viewCount},
			#{contractStartAt}, #{contractEndAt},
			#{fileName},#{filePath}
		)
	</insert>
	
	<update id="updateNoticePostOne" parameterType="boardNoticeDTO">
		UPDATE
			board_notice
		SET
			WRITER_ID = #{writerId}, WRITER_IP = #{writerIp}, `LEVEL` = #{level},
			TITLE = #{title}, CONTENT = #{content},
			CONTRACT_START_AT = #{contractStartAt}, CONTRACT_END_AT = #{contractEndAt},
			FILE_NAME = #{fileName}, FILE_PATH = #{filePath}
		WHERE
			SEQ_ID = #{seqId}
	</update>
	
	<delete id="deleteNoticePostOne" parameterType="int">
		DELETE FROM board_notice
		WHERE SEQ_ID = #{value}
	</delete>

</mapper>